* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffe0;
}

.header {
  font-size: 75px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0px;
}

#array {
  background-color: #ffffe0;
  height: 413px;
  width: 598px;
  margin: auto;
  position: relative;
}

.block {
  width: 28px;
  background-color: #00fa9a;
  position: absolute;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

.user-input {
  margin: auto;
  width: 50%;
  border: 3px solid #00bfff;
  padding: 10px;
  width: 25%;
  background-color: violet;
}

#speed {
  margin: auto;
  width: 50%;
  border: 3px solid #00bfff;
  padding: 10px;
}
#num-input {
  width: 40%;
}

.submit-btn {
  width: 50%;
  background-color: ivory;
}

.label-input {
  background-color: violet;
}

.span-input {
  background-color: violet;
}
